<!--Footer-->
    <footer class="page-footer center-on-small-only mt-4">

        <!--Footer Links-->
        <div class="container mb-2">

            <!--First row-->
            <div class="row text-center">

                <!--First column-->
                <div class="col-md-12 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">

                    <div class="footer-socials mt-1">

                        <!--Facebook-->
                        <a href=" http://www.facebook.com/micasamusic" type="button" class="btn-floating btn-large btn-blue-pink"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="http://www.twitter.com/MiCasaMusic" type="button" class="btn-floating btn-large btn-blue-pink"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="http://www.google.com/+MiCasa " type="button" class="btn-floating btn-large btn-blue-pink"><i class="fa fa-google-plus"></i></a>
                         <!--Youtube-->
                        <a href="https://www.youtube.com/user/MiCasaTVRoom" type="button" class="btn-floating btn-large btn-blue-pink"><i class="fa fa-youtube"></i></a>
                        <!--Instagram-->
                        <a href="http://instagram.com/micasamusic" type="button" class="btn-floating btn-large btn-blue-pink"><i class="fa fa-instagram"></i></a>

                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                © 2017 Mi Casa. Created by ibrokola <!-- <a href="https://www.MDBootstrap.com" rel="nofollow"> MDBootstrap.com </a> -->
            </div>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->