{% extends 'base.html' %}

{% load static %}

<script>
{% block script %}

{% endblock script %}
</script>

{% block content %}
<header>
{# include 'nav.html' #}
    <div class="view intro" id="home">
        <div class="hm-black-strong-1">
            <div class="full-bg-img flex-center">
                <div class="container">
                    <div class="row smooth-scroll">
                        <div class="col-md-12 white-text text-center smooth-scroll">
                            <div class="wow fadeInDown" data-wow-delay="0.2s">
                                <h2 class="brand-name font-bold-2 mb-2">Mi Casa</h2>
                                <hr class="hr-light">
                                <h3 class="subtext-header mt-2 mb-2">From South Africa to Canada.
                            </div>
                            <a class="btn btn-pink-blue btn-rounded wow fadeInUp" data-wow-delay="0.2s" href="#tour" data-offset="85">
                                <i class="fa fa-calendar"></i>
                                <span>GET TICKETS NOW</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Mask-->
</header>

<main>
<!--First container-->
        <div class="container">
        
            <!--Section: About-->
            <section id="about" class="section mt-5 mb-2"> 
            
                <!--Secion heading-->
                <h2 class="pink-text font-up font-bold-2 mb-2 wow fadeIn" data-wow-delay="0.2s">About us</h2>
        
                <hr class="between-sections">
                
                <!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-lg-5 col-md-12 mb-2 mr-3 wow fadeIn" data-wow-delay="0.4s">
                           
                        <!--Image-->
                        <img src="https://mdbootstrap.com/img/Others/landings/band.jpg" class="img-fluid" alt="My photo">

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-6 col-md-12 mb-1 wow fadeIn" data-wow-delay="0.4s">

                        <!--Description-->
                        <p align="justify" class="grey-text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus maiores quibusdam.<br><br>Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae in, expedita eveniet quae aliquam assumenda voluptatibus! Iure dolorum, itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta expedita, maiores omnis culpa voluptatem ipsum eius.</p>

                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->
            
            </section>
            <!--/Section: About-->
    
            <!--Section: Details-->
            <section class="section">
                
                <!--Section heading-->
                <h2 class="pink-text font-up font-bold-2 mt-3 mb-2 wow fadeIn" data-wow-delay="0.2s">Discography</h2>
        
                <hr class="between-sections">
              
                <!--First row-->
                <div class="row text-center">

                    <!--First column-->
                    <div class="col-lg-4 col-md-12 mb-2 wow fadeIn" data-wow-delay="0.4s">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight hm-zoom">
                            <img src="https://mdbootstrap.com/img/Others/landings/4a.jpg">
                        </div>

                        <!--Excerpt-->
                        <!-- <div class="card-block">
                            <h4 class="mt-1 mb-1">First title</h4>
                            <a class="btn btn-pink-blue btn-rounded"><i class="fa fa-clone left"></i>buy now</a>
                        </div> -->
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeIn" data-wow-delay="0.4s">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight hm-zoom">
                            <img src="https://mdbootstrap.com/img/Others/landings/1a.jpg">
                        </div>

                        <!--Excerpt-->
                        <!-- <div class="card-block">
                            <h4 class="mt-1 mb-1">Second title</h4>
                            <a class="btn btn-pink-blue btn-rounded"><i class="fa fa-clone left"></i>buy now</a>
                        </div> -->
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-lg-4 col-md-6 mb-2 wow fadeIn" data-wow-delay="0.4s">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight hm-zoom">
                            <img src="https://mdbootstrap.com/img/Others/landings/3a.jpg">
                        </div>

                        <!--Excerpt-->
                        <!-- <div class="card-block">
                            <h4 class="mt-1 mb-1">Third title</h4>
                            <a class="btn btn-pink-blue btn-rounded"><i class="fa fa-clone left"></i>buy now</a>
                        </div> -->
                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->

            </section>
            <!--Section: Details-->

        </div>
        <!--/First container-->

        <!--Streak-->
        <div class="streak streak-photo streak-large view photo-1" id="home">
            <div class="hm-black-strong-1">
                <div class="mask flex-center pattern-1">
                    <div class="container">
                        <ul class="white-text smooth-scroll wow fadeIn" data-wow-delay="0.4s">
                            <li><h2 class="h2-responsive"><div class="mb-2"> Listen our music</h2></li>
                            <a class="btn btn-white-red btn-rounded"><i class="fa fa-youtube left"></i>you tube</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/Streak-->
           
        <!--Second container-->
        <div class="container">
            
            <!--Section: Team v.2-->
            <section id="team" class="section team-section"> 

                <!--Section heading-->
                <h2 class="pink-text font-up font-bold-2 mt-5 mb-2 wow fadeIn" data-wow-delay="0.2s">The band</h2>

                <hr class="between-sections">

                <div class="row text-center">

                    <!--First column-->
                    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">

                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
                        </div>
                        <h4>John Doe</h4>
                        <h5>lead vocals, guitar</h5>

                        <!--Facebook-->
                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                        <!--Youtube-->
                        <a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a>
                        <!--Instagram-->
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">

                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg">
                        </div>
                        <h4>Chris Brown</h4>
                        <h5>backing vocals, percussion</h5>

                        <!--Google +-->
                        <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Facebook-->
                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                        <!--Youtube-->
                        <a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a>

                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.4s">

                        <div class="avatar">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg">
                        </div>
                        <h4>Maria Kate</h4>
                        <h5>lead vocals, piano</h5>

                        <!--Twitter-->
                        <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                        <!--Instagram-->
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                        <!--Youtube-->
                        <a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a>

                    </div>
                    <!--/Third column-->

                </div>
                
            </section>
            <!--/Section: Team v.2-->

        </div>
        <!--/Second container-->

        <!--Third container-->
        <div class="container-fluid pt-5 pb-4 grey-background">
            <!--Tour section-->
            <div id="tour" class="container">
         
                <!--Section heading-->
                <h2 class="pink-text font-up font-bold-2 mb-2 wow fadeIn" data-wow-delay="0.2s">Tour dates</h2>
                <hr class="between-sections mb-3">
               
                <div class="table-responsive">
                    <table class="table wow fadeIn" data-wow-delay="0.4s">
                      <thead class="thead-inverse">
                        <tr>
                          <th>Date</th>
                          <th>Country</th>
                          <th>Place</th>
                          <th><div class="pl-4">Tickets</th></div>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Fri 31 Mar</th>
                          <td>Poland, Warsaw</td>
                          <td>National Stadium</td>
                          <td><a class="btn btn-info btn-rounded btn-sm">buy now</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Mon 02 Apr</th>
                          <td>France, Paris</td>
                          <td>Olimpic Stadium</td>
                          <td><a class="btn btn-info btn-rounded btn-sm">buy now</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Tue 07 May</th>
                          <td>USA, New York</td>
                          <td>National Stadium</td>
                          <td><a class="btn btn-danger btn-rounded btn-sm">sold out</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Fri 10 May</th>
                          <td>Germany, Berlin</td>
                          <td>National Stadium</td>
                          <td><a class="btn btn-info btn-rounded btn-sm">buy now</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Mon 02 Apr</th>
                          <td>Italy, Milan</td>
                          <td>Olimpic Stadium</td>
                          <td><a class="btn btn-info btn-rounded btn-sm">buy now</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Sun 16 Jun</th>
                          <td>USA, Los Angeles</td>
                          <td>National Stadium</td>
                          <td><a class="btn btn-danger btn-rounded btn-sm">sold out</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>

            </div>
        </div>    
        <!--/Third container-->       
        
        <!--Fourth container-->
        <div class="container">
                        
        </div>
        <!--/Fourth container-->

        <!--Contact form-->
        <div class="streak streak-photo streak-contact view photo-2 py-5" id="home">
            <div class="hm-black-strong-1">
                <div class="mask flex-center pattern-1">
                    <div id="contact" class="container">
                
                        <!--Section: Contact v.2-->
                        <section class="section contact-section">

                            <!--First row-->
                            <div class="row" >
                                <div class="col-md-12 ">
                                      <h2 class="pink-text font-up font-bold-2 pt-1 mb-3 wow fadeIn" data-wow-delay="0.2s">Contact us</h2>
                                </div>
                            </div>
                            <!--/First row-->
                
                            <!--Second row-->
                            <div class="row wow fadeIn" data-wow-delay="0.4s">

                                <!--First column-->
                                <div class="col-md-8">
                                    <form>
                                        <!--First row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="form41" class="form-control">
                                                    <label for="form41">Your name</label>
                                                </div>
                                            </div>

                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="form52" class="form-control">
                                                    <label for="form52">Your email</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.First row-->

                                        <!--Second row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <input type="text" id="form51" class="form-control">
                                                    <label for="form51">Subject</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/Second row-->

                                        <!--Third row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-12">

                                                <div class="md-form">
                                                    <textarea type="text" id="form76" class="md-textarea"></textarea>
                                                    <label for="form76">Your message</label>
                                                </div>

                                            </div>
                                        </div>
                                        <!--/.Third row-->
                                    </form>

                                    <div class="center-on-small-only">
                                        <a class="btn btn-pink-blue btn-rounded"></i>send</a>
                                    </div>
                                </div>
                                <!--.First column-->

                                <!--Second column-->
                                <div class="col-md-4">
                                    <ul class="contact-icons">
                                        <li><i class="fa fa-map-marker pink-text fa-2x"></i>
                                            <div class="white-text">
                                            <p>Edmonton Alberta</p>
                                            </div>                                  
                                        </li>

                                        <li><i class="fa fa-phone pink-text fa-2x"></i>
                                            <div class="white-text">
                                            <p>+ 01 234 567 89</p>
                                            </div>
                                        </li>

                                        <li><i class="fa fa-envelope pink-text fa-2x"></i>
                                            <div class="white-text">
                                            <p>contact@ibrokola.com</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--.Second column-->
                            
                            </div>
                            <!--Second row-->

                        </section>
                        <!--/Section: Contact v.2-->

                    </div>
                </div>
            </div>
        </div>
        <!--/Contact form-->

        <!--Fifth container-->
        <div class="container">
                  
            <!--Section: Video-->
            <section class="section">
               
                <!--First row-->
                <div class="row mt-4">
                    <div class="col-md-12">
                          <h2 class="pink-text font-up font-bold-2 pt-1 mb-2 wow fadeIn" data-wow-delay="0.2s">Videos</h2>
                        <hr class="between-sections mb-2">
                    </div>
                </div>
                <!--/First row-->
                    
                <!--Second row-->        
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--First column-->
                    <div class="col-md-6 mb-1 mt-1">
                        <div class="view">
                            <img src="https://mdbootstrap.com/img/Photos/Others/video2.jpg" alt="video">
                            <a href="https://www.youtube.com/embed/2fuuBLkDBcE" target="_blank">
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-6 mb-1 mt-1">
                        <div class="view">
                            <img src="https://mdbootstrap.com/img/Photos/Others/video1.jpg" alt="video">
                            <a href="https://www.youtube.com/embed/FyF3GQoj2ho" target="_blank">
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>
                    </div>
                    <!--/Second column-->

                </div>
                <!--/Second row-->   
                       
            </section>
            <!--/Section: Video-->
          
            <!--Section: Gallery-->
            <section id="portfolio" class="section">

                <h2 class="pink-text font-up font-bold-2 mb-2 mt-4 wow fadeIn" data-wow-delay="0.2s">Photos</h2>
                   
                <hr class="between-sections mb-2">

                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--First column-->
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <!--Full width lightbox-->
                        <div class="mdb-lightbox">

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(10).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(10).jpg" class="img-fluid">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(21).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(21).jpg" class="img-fluid">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(11).jpeg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(11).jpg" class="img-fluid">
                                </a>

                            </figure>
                                <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(22).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(22).jpg" class="img-fluid">
                                </a>
                            </figure>
                            
                             <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(19).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(19).jpg" class="img-fluid">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(22).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(22).jpg" class="img-fluid">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(20).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(20).jpg" class="img-fluid">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(13).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(13).jpg" class="img-fluid">
                                </a>
                            </figure>

                        </div>
                        <!--/Full width lightbox-->

                    </div>
                    <!--/First column-->

                </div>
                <!--/First row-->

            </section>
            <!--/Section: Gallery-->
        </div>
        <!--/Fifth container-->
</main>
{% endblock %}